<div class="layout-footer">
    
</div>

<footer>
        <div class="wrap">

            <div class="bicolor">
                <span class="azul"></span>
                <span class="rojo"></span>
            </div>

            <div class="top">

                <div class="listas">


                    <div class="lista">
                        <h5>Enlaces Internos</h5>
                        <ul>
                            <li><a href="https://www.gendarmeria.gob.cl/">Web gendarmería</a></li> 
                            <li><a href="http://webmail.gendarmeria.cl">Webmail gendarmería</a></li>
                        </ul>
                    </div>




                </div>

                <div class="clearfix"></div>
                <div class="sep"></div>

            </div>

            <div class="bottom">

                <div class="left">
                    <span>Dirección: Rosas 1264, Santiago de Chile. Teléfono:+56 2 916 3000 Email:webmaster@gendarmeria.cl</span>
                </div>

                <nav>
                    <ul>
                        <li><a href="politicas.html">Política de Privacidad (X)</a></li>
                        <!--<li><a href="https://products.office.com/es-cl/products">Visualizadores & Plug-ins</a></li>-->
                    </ul>
                </nav>

                <div class="clearfix"></div>

                <div class="bicolor">
                    <span class="azul"></span>
                    <span class="rojo"></span>
                </div>
            </div>
        </div>
    </footer>