<h1>Tabla de Empleados</h1><br/>

<div class="container">
<div class="row">
    <table class="table table-dark table-striped">
    <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cargo</th>
          <th>Salario</th>
        </tr>
    </thead>
      <tbody>
        <tr>
          <td>{{indice+1}}</td>
          <td>{{empleadoDeLista.nombre}}</td>
          <td>{{empleadoDeLista.apellido}}</td>
          <td>{{empleadoDeLista.cargo}}</td>
          <td>{{empleadoDeLista.salario}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
